:root {
  --base-color-1: rgb(242, 184, 75); /*var(--base-color-1)*/
  --base-color-2: rgb(13, 13, 13);
}

/*initial settings*/
  body {
    font: 14px "Merriweather";
    font-style: normal;
    color: #fff;
    font-style: normal;
    overflow-x: hidden;
  }

  html body .pace .pace-progress {
    background: var(--base-color-1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Merriweather";
    color: #ffffff;
  }

  .button {
    display: inline-block;
    border-radius: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 56px;
    text-transform: uppercase;
    padding: 0 65px;
    border: 2px solid #f2b84b;
    overflow: hidden;
  }

  .navigation-main .mega-dropdown-menu ul li a,
  .navbar-nav .mega-dropdown-menu ul li a {
    color: #ffffff;
  }

  .navigation-main .mega-dropdown-menu ul li:hover a,
  .navbar-nav .mega-dropdown-menu ul li:hover a {
    color: var(--base-color-1);
  }

  a:not(:hover) {
    color: #fff;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    /*color: #fff;*/
    text-decoration: none;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .title {
    font-size: 50px;
    line-height: 70px;
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .title div {
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--base-color-1);
    top: 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .block-title {
    font-size: 40px;
    line-height: 40px;
  }

  .dot {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background: var(--base-color-1);
    margin: 15px auto 24px;
  }

  .dot::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    left: -20px;
    border-radius: 50%;
    background: var(--base-color-1);
  }

  .dot::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    right: -20px;
    border-radius: 50%;
    background: var(--base-color-1);
  }

  p.mini {
    font-size: 15px;
    color: #666;
    margin-bottom: 35px;
  }

  .btn.btn-default {
    display: inline-block;
    border-radius: 60px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 55px;
    border: 2px solid var(--base-color-1);
    overflow: hidden;
    color: #ffffff;
  }

  .btn.btn-default:hover {
    background: var(--base-color-1);
    color: var(--base-color-2);
  }

  .btn.btn-default span:first-child {
    margin-top: -50px;
    line-height: 50px;
  }

  .btn.btn-default span {
    display: block;
    width: 100%;
    line-height: 50px;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .btn.btn-default:hover span:first-child {
    margin-top: 0;
  }

  .btn.btn-default.active {
    background-color: var(--base-color-1);
  }

  .btn.btn-default.active:hover {
    pointer-events: none;
    color: #fff;
  }

  .btn.btn-default.active:hover span:first-child {
    margin-top: -50px !important;
  }

  .btn.btn-default.close-button.custom {
    padding: 0 10px 0 11px;
    margin: 10px 0 5px 70%;
    height: 30px;
    line-height: 30px;
    border-radius: 11px;
  }

  input[type="text"] {
    border: none;
    background: #fff;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font: 14px "Merriweather";
    color: #333;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  section {
    background-color: #000000;
  }

  .custom-slide .slider {
    background-color: transparent;
  }

  .wow {
    opacity: 1;
  }
/*end initial settings*/

/*header css*/
  .header-navbar {
    font-family: "Merriweather";
    min-height: unset;
  }

  .header-navbar .navbar-container #navbar-mobile ul.nav > li {
    max-height: 35px;
  }

  .header-navbar .navbar-container ul.nav li a.nav-link-label {
    padding: 0;
  }

  .header-navbar .navbar-container ul.nav li > a.nav-link {
    padding: 8px 10px 5px;
  }

  .header-navbar .dropdown-menu {
    background-color: var(--base-color-2);
  }

  /*  .header-navbar .dropdown-menu .dropdown-item:not(:hover) {
    color: #ffffff;
  }

  .header-navbar .dropdown-menu .dropdown-item::hover {
    background-color: rgba(255, 255, 255, 0.05);
  }*/

  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--base-color-1);
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: var(--base-color-1);
  }

  #main-menu-navigation {
    margin-left: auto;
  }

  .horizontal-menu .navbar-horizontal ul#main-menu-navigation > li > a {
    padding-left: 0;
    padding-right: 0;
  }

  .horizontal-menu .navbar-dark .nav-item.active > a {
    background-color: unset;
  }

  .horizontal-menu .navbar-dark .nav-item:hover,
  .horizontal-menu .navbar-dark .nav-item .hover {
    background-color: unset;
  }

  .navbar-dark.navbar-horizontal {
    background-color: var(--base-color-2);
  }

  .brand-logo img {
    max-height: 70px;
    padding: 5px;
  }

  #main-menu-navigation > .nav-item > a.nav-link {
    text-transform: uppercase;
    color: #fff;
    margin-left: 40px;
    position: relative;
  }

  #main-menu-navigation > .nav-item > a.nav-link::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 28px;
    left: -23px;
  }

  #main-menu-navigation > .nav-item:first-child > a.nav-link::before {
    display: none;
  }

  #main-menu-navigation > .nav-item.active > a.nav-link,
  #main-menu-navigation > .nav-item:hover > a.nav-link {
    color: var(--base-color-1);
  }

  .dropdown .dropdown-menu {
    border: 1px solid var(--base-color-1);
  }
/*end header css*/

/*home slider css*/
  #home {
    height: 100vh;
  }

  #home .flexslider {
    border: unset;
    margin-bottom: 0;
  }

  #home .flex-control-paging {
    display: none;
  }

  #home .flexslider img {
    background-size: cover;
    background-attachment: fixed;
    display: block;
    width: 100%;
    /*background-position: 10% 0px;*/
  }

  #home .flex-nav-prev,
  #home .flex-nav-next {
    line-height: 1.06;
  }

  #home .flex-direction-nav a::before {
    color: rgba(255, 255, 255, 0.82);
  }

  #home .slider-text-wrapper {
    height: 580px;
    /*margin-top: -290px;*/
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100vw;
    z-index: 1;
  }

  #home .slider-text-wrapper .middle {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #f2b84b;
    letter-spacing: 3px;
    width: 700px;
    margin: 0 auto;
    opacity: 0;

    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  #home .slider-text-wrapper .middle.wow {
    opacity: 1;
  }

  #home .slider-text-wrapper .big {
    font-size: 80px;
    line-height: 110px;
    margin-top: 20px;
    opacity: 0;

    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  #home .slider-text-wrapper p {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 83px;
    opacity: 0;

    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  #home .wow {
    opacity: 1;
  }
/*end home slider css*/

/*about css*/
  .about .block-title {
    margin-bottom: 25px;
  }

  .about {
    text-align: center;
    padding: 0 80px 80px;
    opacity: 1;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .about-image {
    display: table-cell;
    vertical-align: middle;
  }

  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-size: cover;
  }
/*end about css*/

/*menu css*/
  .more-food.unactive {
    color: #666 !important;
  }

  .more-food {
    color: #ffffff;
    height: 140px;
    line-height: 140px;
    font-size: 22px;
    text-align: center;
    display: block;
    text-transform: uppercase;
  }

  .more-food:hover {
    color: var(--base-color-1);
  }

  .more-food em {
    font-size: 50px;
    margin-right: 30px;
    vertical-align: middle;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all 0s linear 0s;
    -webkit-transition: all 0s linear 0s;
    -o-transition: all 0s linear 0s;
    -ms-transition: all 0s linear 0s;
    transition: all 0s linear 0s;
  }

  .menu-item {
    position: relative;
    opacity: 1;
    margin-bottom: 30px;
  }

  .menu-item .menu-overlay {
    position: absolute;
    width: calc(100% - 36px);
    height: calc(100% - 6px);
    left: 15px;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    margin: 3px;
    border-radius: 12px;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .menu-item:hover .menu-overlay {
    opacity: 1;
  }

  .menu-item .position {
    font-size: 22px;
    color: #666;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .menu-item .food-name {
    font-size: 33px;
    margin-top: 27px;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .menu-item .price {
    font-size: 28px;
    color: var(--base-color-1);
    line-height: 28px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .menu-item p {
    display: none;
  }

  .menu-item img {
    max-width: 100%;
    border: 3px solid #efb64a;
    border-radius: 15px;
  }

  .popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    opacity: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .popup .clearfix {
    height: 100%;
  }

  .popup article {
    padding: 1;
    text-align: center;
    position: relative;
    opacity: 1;
    background: #0d0d0d;
    height: 100%;
    overflow: hidden;
  }

  .popup img {
    display: block;
    height: 100%;
    /*left: -25%;*/
    opacity: 1;
    position: relative;
    -moz-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
  }

  .details-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 80px;
    text-align: left;
  }

  .popup article:nth-child(2) {
    display: table;
  }

  .popup .position {
    font-size: 30px;
    color: #666;
    margin-bottom: 34px;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -ms-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }

  .popup .food-name {
    font-size: 70px;
    margin-bottom: 15px;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -ms-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }

  .popup .price {
    font-size: 40px;
    position: static;
    margin-bottom: 50px;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -ms-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }

  .popup p {
    border-top: 1px dashed #262626;
    padding-top: 50px;
  }

  .popup .prev,
  .popup .next {
    width: 60px;
    padding: 0;
    text-align: center;
    font-size: 24px;
  }
/*end menu css*/

/*reservation css*/
  .reservation {
    text-align: center;
    padding: 0 80px 80px;
    opacity: 1;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
/*end reservation css*/

/*articles & blog css*/
  .blog {
    text-align: center;
    padding: 0 80px 80px;
    opacity: 1;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .blog .date,
  .blog .label {
    color: #f2b84b;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
  }

  .blog .name {
    display: block;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .blog .name:hover {
    color: var(--base-color-1);
  }

  .blog .blog-item {
    text-align: left;
  }

  .blog .blog-item img {
    border-radius: 10px;
  }

  .blog .blog-item p.mini {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
/*end articles & blog css*/

/*event css*/
  .events {
    text-align: center;
    position: relative;
  }

  .events.animate .container {
    opacity: 0;
  }

  .events .slides li {
    border: 2px solid #f2b84b;
    margin-top: 130px;
    margin-bottom: 140px;
    position: relative;
    padding-top: 68px;
    padding-bottom: 30px;
    opacity: 1;
  }

  .events .flexslider {
    position: relative;
    background-color: #000000;
    border: 4px solid #000000;
    margin: 0;
  }

  .events .flex-control-nav {
    display: none;
  }

  .events .flex-direction-nav {
    bottom: 145px;
    display: block;
    left: 0;
    position: absolute;
    top: 130px;
    width: 100%;
  }

  .events .flex-direction-nav a::before {
    color: rgba(255, 255, 255, 0.82);
    font-size: 13px;
  }

  .events .flex-prev {
    opacity: 1 !important;
    background: #000000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 50px;
    left: 5px !important;
    line-height: 43px;
    margin: -25px 0 0 -32px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    border: 2px solid #f2b84b;
    z-index: 2;
  }

  .events .flex-next {
    opacity: 1 !important;
    background: #000000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 50px;
    left: 100%;
    line-height: 43px;
    margin: -25px 0px 0 -25px;
    position: absolute;
    text-align: center;
    top: 47%;
    width: 50px;
    border: 2px solid #f2b84b;
    z-index: 2;
  }

  .events .flex-prev:hover,
  .events .flex-next:hover {
    color: #0d0d0d;
    background: #f2b84b;
  }

  .events .flex-prev {
    left: 0;
    right: 100%;
  }

  .events p {
    padding: 0 60px;
  }

  .events .title {
    position: absolute;
    width: 620px;
    background: #000000;
    left: 50%;
    top: -37px;
    margin-left: -310px;
    margin-top: 0;
  }

  .events .title:before {
    content: "\f004";
    color: #f2b84b;
    position: absolute;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    right: 100%;
    margin-right: -5px;
  }

  .events .title:after {
    content: "\f004";
    color: #f2b84b;
    position: absolute;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 100%;
    margin-left: -5px;
  }

  .events .btn.btn-default.slide-page {
    position: absolute;
    bottom: -25px;
    background-color: black;
    left: 50%;
    translate: -50% 0;
  }

  .events .btn.btn-default.slide-page:hover {
    background-color: var(--base-color-1)
  }

  .title.bottom {
    padding: 0 0 25px;
  }

  .title.bottom div {
    top: auto;
    bottom: -8px;
  }

  @media (max-width: 768px) {
    .events .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (max-width: 320px) {
    .events .button {
      width: 260px;
      margin-left: -130px;
    }
  }
/*end event css*/

/*gallery css*/
  .blog.gallery .date {
    color: #f2b84b;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    margin: 5px;
    display: inline-block;
  }

  .blog.gallery .name {
    display: block;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 5px 10px 5px;
  }

  .blog.gallery .main {
    margin-left: 1px;
    margin-top: 3px;
    width: 100%;
    overflow: hidden;
  }

  .blog.gallery .flexslider .flex-direction-nav a {
    display: none;
  }

  .blog.gallery .gallery-item .slide-down img {
    border: 0px;
    padding: 2px;
    width: 83px;
    margin-right: 0;
    float: left;
    display: block;
  }

  .blog.gallery .custom-bg {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    height: 72px;
    border-radius: 4px;
  }

  .blog.gallery .jumlah h5 {
    float: right;
    color: white;
    font-size: 14px;
  }

  .gallery-item {
    position: relative;
    opacity: 1;
  }

  .gallery-item .img span.qty {
    position: absolute;
    right: 0;
    min-width: 60px;
    height: 60px;
    color: #ffffff;
    background-color: #0009;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
    border-radius: 0 10px;
  }

  .gallery-item .img:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .gallery-item .img:hover:before {
    opacity: 1;
  }

  .gallery-item .img:after {
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.35em;
    border: solid 3px rgba(255, 255, 255, 0.5);
    color: #fff;
    content: "View";
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    left: 50%;
    line-height: 2.25em;
    margin: -1.25em 0 0 -3em;
    opacity: 0;
    padding: 0 1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transition: opacity 0.2s ease-in-out;
  }

  .gallery-item .img:hover:after {
    opacity: 1;
  }

  .gallery-item.custom > div {
    position: absolute;
    width: 92%;
    height: 92%;
    left: 14px;
    top: 14px;
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    border-radius: 15px;
  }

  .gallery-item:hover > div {
    opacity: 1;
  }

  .gallery-item .position {
    font-size: 22px;
    color: #666;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .gallery-item .food-name {
    font-size: 33px;
    margin-top: 27px;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .gallery-item .price {
    font-size: 28px;
    color: var(--base-color-1);
    line-height: 28px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .gallery-item p {
    display: none;
  }

  .gallery-item img {
    max-width: 100%;
    /*border: 4px solid #efb64a;*/
    border-radius: 15px;
  }

  #gallery-popup.popup article {
    background: rgba(0, 0, 0, 0.4);
  }

  #gallery-popup #carousel img {
    display: block;
    opacity: 0.5;
    cursor: pointer;
  }

  #gallery-popup #carousel img:hover {
    opacity: 1;
  }

  #gallery-popup .flexslider {
    background-color: transparent;
    border-color: transparent;
  }

  #gallery-popup .flexslider .flex-direction-nav .flex-next {
    text-align: center;
  }

  #gallery-popup .flexslider .flex-direction-nav a {
    line-height: 1;
  }

  #gallery-popup .flexslider .flex-direction-nav a::before {
    color: var(--base-color-1);
  }

  #gallery-popup .flexslider .flex-control-paging li a {
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.73);
  }

  #gallery-popup .flexslider .flex-control-paging li a.flex-active {
    background: var(--base-color-1);
  }

  #gallery-popup .flexslider .gallery-slide {
    text-align: center;
  }

  #gallery-popup .flexslider .gallery-slide img {
    width: 210px;
    margin-right: 5px;
    display: inline;
    height: 100%!important;
    width: auto!important;
    max-width: 100%;
    border: 3px solid var(--base-color-1);
    border-radius: 15px;
  }
/*end gallery css*/

/*comment cdd*/
  .comment {
    text-align: center;
    padding: 60px 0;
    opacity: 1;
    position: relative;
  }

  .comment .flexslider {
    background: #000000;
    border: 4px solid #000000;
  }
  /* 
  .comment li,
  .comment .container {
    position: static !important;
  } */

  .comment.animate {
    opacity: 0;
  }

  .comment em {
    font-size: 120px;
    line-height: 120px;
    opacity: 0.05;
    display: block;
    margin-bottom: -40px;
    font-style: normal;
  }

  .comment .dot {
    margin-top: 25px;
  }

  .comment .flex-control-nav {
    display: none;
  }

  .comment li:before {
    height: 1px;
    width: 0%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f2b84b;

    -moz-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -o-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
  }

  .comment li.flex-active-slide:before {
    width: 100%;

    -moz-transition: all 6s linear;
    -webkit-transition: all 6s linear;
    -o-transition: all 6s linear;
    -ms-transition: all 6s linear;
    transition: all 6s linear;
  }
/*end comment css*/

/*contact css*/
  .contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
  }

  .contact .contact-info {
    position: relative;
    width: 100%;
    padding: 0 15px;
  }

  .contact .contact-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /*border: 1px solid rgba(256, 256, 256, .2);*/
  }

  .contact .contact-item [class^="flaticon-"]::before {
    margin: 0;
    color: #c5973f;
    font-size: 40px;
  }

  .contact .contact-text {
    position: relative;
    width: auto;
    padding-left: 20px;
  }

  .contact .contact-text h2 {
    color: #c5973f;
    font-size: 20px;
    font-weight: 600;
  }

  .contact .contact-text p {
    margin: 0;
    /*color: #ffffff;*/
    font-size: 16px;
  }

  .contact .contact-item:last-child {
    margin-bottom: 0;
  }

  .contact .contact-form {
    position: relative;
    padding: 0 15px;
  }

  .contact .contact-form input {
    color: #ffffff;
    height: 40px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, 0.4);
    background: transparent;
  }

  .contact .contact-form textarea {
    color: #ffffff;
    height: 185px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, 0.4);
    background: transparent;
  }

  .contact .contact-form input:focus,
  .contact .contact-form textarea {
    box-shadow: none;
  }

  .contact .contact-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
  }

  .contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
  }

  .contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
  }

  .contact .contact-form .btn {
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--base-color-1);
    background: var(--base-color-2);
    border: none;
    border-radius: 0;
    transition: 0.3s;
  }

  .contact .contact-form .btn:hover {
    color: var(--base-color-2);
    background: #ffffff;
  }

  .contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .contact .card-body {
    background-color: #000000;
  }
/*end contact css*/

/* detail-blog css */
  .blog-title {
    color: #333;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin: 50px 0;
  }

  .blog-title .label {
    padding: 0 0 0 10px;
    border-radius: 0;
    border-left: 1px solid #999;
    margin-left: 5px;
    font-weight: normal;
  }

  .blog-title .date,
  .blog-title .label {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 8px;
  }

  .blog-content p {
    color: #333;
    margin-bottom: 30px;
  }

  .blog-content p.italic {
    font-style: italic;
  }

  .blog-content h3 {
    font-size: 22px;
    font-weight: normal;
    font-family: "Merriweather";
    line-height: 22px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin: 60px 0 30px;
    letter-spacing: 1px;
  }

  .blog-content .share-button {
    text-align: center;
    margin-bottom: 5px;
  }
/* end detail-blog css */

/*footer css*/
  footer.footer {
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
    background: #1c1c1c;
  }

  .opening strong {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 35px;
    width: 100%;
  }

  .opening-hours {
    float: left;
    width: 14.25%;
    margin-bottom: 50px;
  }

  .opening-hours span {
    color: var(--base-color-1);
  }

  .opening-hours div {
    font-size: 18px;
    color: #fff;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .address {
    border-top: 1px solid #292929;
    padding-top: 50px;
  }

  .address .clearfix {
    margin-bottom: 35px;
  }

  .address .clearfix a,
  .address span {
    padding-left: 120px;
    display: block;
    color: #666;
  }

  .address a:hover {
    color: var(--base-color-1);
  }

  .address > div {
    padding: 0;
  }

  .move-up {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: #1c1c1c;
    text-align: center;
    line-height: 50px;
    color: #3b3b3b;
    font-size: 18px;
  }

  .move-up:hover {
    background: var(--base-color-1);
    color: #1c1c1c;
  }

  .share-button {
    text-align: right;
  }

  .share-button a:first-child {
    margin-left: 0;
  }

  .share-button a {
    color: #666;
    margin: 0 30px;
    margin-left: 30px;
    font-size: 24px;
  }

  .share-button + span {
    padding: 0;
    width: 100%;
    display: block;
    text-align: right;
    margin-top: 35px;
  }
/*end footer css*/

@media (max-width: 500px) {
  .slider-text-wrapper .big {
    font-size: 37px;
    line-height: 49px;
    margin-top: 0;
  }

  .slider-text-wrapper p {
    width: 341px;
  }

  .slider-text-wrapper .middle {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #f2b84b;
    letter-spacing: 3px;
    width: 400px;
    margin: auto;
    opacity: 0;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .slider-text-wrapper {
    height: 580px;
    position: absolute;
    text-align: center;
    top: 18%;
    width: 100vw;
    z-index: 1;
  }

  .about .block-title {
    margin: 25px 0 26px 0;
  }

  .menu .btn.btn-default {
    display: inline-block;
    border-radius: 60px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0px 14px;
    border: 2px solid var(--base-color-1);
    overflow: hidden;
    margin: 3px;
  }

  .events .title {
    font-size: 33px;
  }
}
